.assertion_pass {
  color: #0d0;
  display: none;
}

.assertion_fail {
  color: red;
  display: block;
}

.assertion_pass, .assertion_fail {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: black;
  display: none;
}

.all_pass {
  background-color: #0d0;
}

.some_fail {
  background-color: red;
}

#assertions_report {
  border-width: 2px;
  border-style: solid;
  width: 20em;
  display: table;
}

#assertions_report.show_assertion_pass .assertion_pass,
#assertions_report.show_assertion_fail .assertion_fail {
  display: block;
}
